.list ul{
  position: fixed;
  top:0%;
  left:0%;
  right:0%;
  border: 22px solid red;
}
ul{
  margin-top: 0%;
}

.links:hover{
  color: yellow !important;
  font-weight: bold !important;
}
.links:focus{
  color: red !important;
  text-decoration: underline !important;
}


/* Zipper Styling */
@media screen and (min-width:1200px){
    .zipper, .t-shirt, .jeans{
      padding: 10px 140px
    }
    .zipper .img, .t-shirt .img, .jeans .img{
      height: 300px;
    }
}
@media screen and (max-width:1199px){
    .zipper, .t-shirt, .jeans{
      padding: 10px 60px
    }
    .zipper .img, .t-shirt .img, .jeans .img{
      height: 250px;
    }  
}
@media screen and (max-width:899px){
    .zipper, .t-shirt, .jeans{
      padding: 10px 50px
    }
    .zipper .img, .t-shirt .img, .jeans .img{
      height: 320px;
    }  
}
@media screen and (max-width:600px){
    .zipper, .t-shirt, .jeans{
      padding: 10px 70px
    }
    .zipper .img, .t-shirt .img, .jeans .img{
        height: 380px;
    }
}
@media screen and (max-width:480px){
    .zipper, .t-shirt, .jeans{
      padding: 10px 40px
    }
    .zipper .img, .t-shirt .img, .jeans .img{
        height: 320px;
    }
    .all_categories_heading{
      font-size: 50px !important;
    }
}
@media screen and (max-width:400px){
  .zipper, .t-shirt, .jeans{
    padding: 10px 15px
  }
    .zipper .img, .t-shirt .img, .jeans .img{
      height: 300px;
  }
  .all_categories_heading{
    font-size: 40px !important;
  }
}
